<h1>Listing employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Job type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.job_type %></td>
        <td><%= link_to 'Show', employee, class:"btn btn-mini" %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee),class:"btn btn-mini" %></td>
        <td><%= link_to 'Delete', employee, method: :delete,class:"btn btn-mini", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path, class:"btn"%>
